/*引入默认样式*/
@import (inline) "common/base.css";
@import (reference)"common/swiper.less";
body {
  position: relative;
}
.header {
  height: 44px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  line-height: 44px;
  text-align: center;
  .left,.right {
    width: 52px;
    height: 100%;
    a {
      color: #fff;
      font-size: 16px;
    }
    .iconfont {
      color: #fff;
      font-size: 22px;
    }
  }
  .center {
    flex: 1;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    .iconfont {
      padding: 0 6px;
    }
    .icon-jingdong {
      margin-left: 10px;
      color: #e93b3d;
      position: relative;
      font-size: 20px;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 7px;
        width: 1px;
        height: 16px;
        background-color: #ccc;
      }
    }
    .icon-sousuo {
      color: #ccc;
      font-size: 18px;
    }
    input {
      height: 100%;
      text-indent: 5px;
      flex: 1;
      color: #000;
    }
  }
}
.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: #5B0000;
  .swiper-container();
  .mall_nav {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
    z-index: 1;
    top: -0.16rem;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    a {
      width: 20%;
      text-align: center;
      img {
        width: 50%;
      }
      p {
        text-align: center;
        color: #666;
        font-size: 0.14rem;
      }
    }
  }
  .mainContent {
    width: 98%;
    height: 400px;
    background-color: #fff;
    border-radius: 0.05rem;
    margin: auto;
  }
  .bulletin-title {
    width: 100%;
    height: 0.3rem;
    line-height: 0.3rem;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .left {
      height: 100%;
      width: 0.8rem;
      padding-left: 0.06rem;
      display: flex;
      align-items: center;
    }
    .right {
      height: 100%;
      width: 0.6rem;
      text-align: center;
      a {
        font-size: 0.14rem;
        color: #666;
      }
    }
    .center {
      flex: 1;
      height: 100%;
      position: relative;
      background-color: #fff;
      padding-left: 0.05rem;
      .centerContent {
        height: 100%;
        position: relative;
      }
      ul{
        width: 100%;
        height: 100%;
        position: absolute;
        li {
          width: 100%;
          height: 100%;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap
        }
        span {
          font-size: 0.14rem;
          color: #e93b3d;
          margin-right: 0.02rem;
        }
        a {
          font-size: 0.12rem;
          color: #3F3F3F;
          height: 0.3rem;
          line-height: 0.3rem;
        }
      }
    }
  }
  .ad1 {
    width: 100%;
    margin-top: -0.26rem;
    position: relative;
    z-index: 22;
    img {
      width: 100%;
      height: auto;
    }
  }
  .bullet-list {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    ul {
      display: flex;
    }
    li {
      &:nth-of-type(1){
        width: 50%;
      }
      width: 25%;
      position: relative;
      &::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        z-index: 24;
        right: -1px;
        top: 0;
        transform: scaleX(0.5);
        background-color: #ccc;
      }
      img{
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }
}

.footer {
  height: 44px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  ul {
    display: flex;
    width: 100%;
    height: 100%;
    li {
      flex: 1;
      text-align: center;
      &.active a{
        color: #e93b3d;
      }
      .iconfont {
        font-size: 20px;
      }
      a {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        transform: scale(0.89);
      }
    }
  }
}